<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <main class="bsod container">
        <h1 class="neg title"><span class="bg">Error - 404</span></h1>
        <p>404 Not Found:</p>
        <p>* 홈페이지로 돌아가십시오.<br />
            * 이메일을 보내시거나 나중에 다시 시도해주십시오.</p>
        <nav class="nav">
            <a href="/" class="link">홈페이지</a>&nbsp;|&nbsp;<a href="mailto:dfgddjd@naver.com" class="link">이메일 주소</a>
        </nav>
    </main>
</body>
</html>