<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/comment.js"></script>
    <link rel="stylesheet" href="/css/admin.css"></link>
    <title>관리자 페이지</title>
</head>
<body>
    <header>
        헤더입니다.
    </header>
    <div>
        <div class="input-wrapper">
            <input type="text" placeholder="오늘의 한 마디" name="comment" class="input" id="comment"/>
        </div>
    <button onclick="edit(document.getElementById('comment').value)" id="btn">등록</button>
    </div>
    <footer>
        푸터입니다.
    </footer>
</body>
</html>